/* TransferMoney */

.transfer-money__head {
    margin-bottom: 25px;
    font: 700 40px/50px 'Quicksand';
    color: #070337;
}

.transfer-money__desc {
    margin-bottom: 25px;
}

.transfer-money__details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

.transfer-money__title {
    font: 500 14px/24px 'Quicksand';
    color: #999999;
}

.transfer-money__value {
    font: 500 18px/24px 'Quicksand';
    color: #070337;
}

.transfer-money__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.transfer-money__invalid-data {
    font: 500 16px/24px 'Quicksand';
    color: #F5533D;
    margin-bottom: 30px;
}

.transfer-money__buttons > div {
    width: calc(50% - 10px);
}

/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/

@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) { }

@media (max-width: 767.98px) {
    .transfer-money__title {
        margin-bottom: 20px;
        font: 700 34px/42px 'Quicksand';
    }
}

@media (max-width: 575.98px) {
    .transfer-money__title {
        margin-bottom: 15px;
        font: 700 30px/38px 'Quicksand';
    }
    .transfer-money__buttons > div {
        width: 100%
    }
    
}