.company-item {
    display: flex;
    justify-content: space-between;
}

.w100 {
    width: 100%;
}
.company-item__table__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    margin-bottom: 20px;
}

.company-item__table__col20 {
    display: block;    
    margin: 0 10px;
    width: calc(20% - 20px);
}
.company-item__table__col40 {
    display: block;    
    margin: 0 10px;
    width: calc(40% - 20px);
}
.company-item__table__col60 {
    display: block;    
    margin: 0 10px;
    width: calc(60% - 20px);
}
.company-item__table__title {    
    font: 500 14px/24px 'Quicksand';
    color: #999999;
}

.company-item__table__value {
    width: calc(90% - 10px);
    font: 500 18px/24px 'Quicksand';
    color: #070337;
}


.m-10 {
    margin: 0 10px;
}

.company-item__button_toglleFullInfo  {
    width: 24px;
    height: 24px;
    background: white;
    color: black;
    border-radius: 0;
    border:none;
    cursor: pointer;
    padding: 0;
}

.company-item__user-wrap {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.company-item__user-wrap > div > svg {
    width: 20px;
    height: 20px;
}
/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {
    .company-item__user-wrap {        
        flex-direction: column;
    }
 }

@media (max-width: 767.98px) {
    .company-item__table__row {
        flex-direction: column;
    }   
    .company-item__table__col20, .company-item__table__col40, .company-item__table__col60 {        
        width: calc(100% );
    }
}
