/* Auth */

.auth {
    min-height: 100vh;
    background: url('../../assets/auth-bg.svg') center top no-repeat #5F55FF;
    position: relative;
}

.auth__language {
    position: absolute;
    top: 50px;
    right: 50px;
}

.auth__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.auth__logo {
    margin: auto 0;
}

.auth__form {
    width: 100%;
    max-width: 620px;
    padding: 60px 50px 65px 50px;
    background: #FFFFFF;
    border-radius: 30px;
}

.auth__title {
    margin-bottom: 20px;
    font: 700 40px/50px 'Quicksand';
    color: #070337;
    text-align: center;
}

.auth__text {
    margin-bottom: 30px;
    text-align: center;
}

.auth__input {
    margin-bottom: 30px;
}

.auth__input.input--error {
    margin-bottom: 10px;
}

.auth__error {
    margin-bottom: 20px;
}

.auth__footer {
    margin: auto 0;
    font: 400 18px/27px 'Quicksand';
    color: #CCCCCC;
}

.auth__footer a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/

@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {
    .auth {
        background-position: center bottom;
        background-size: 1000px;
    }

    .auth__logo-icon {
        width: auto;
        height: 38px;
    }

    .auth__language {
        position: absolute;
        top: 30px;
        right: 15px;
    }

    .auth__form {
        max-width: 540px;
        padding: 50px 30px 58px 30px;
    }

    .auth__title {
        font: 700 34px/42px 'Quicksand';
    }

    .auth__text {
        margin-bottom: 25px;
    }

    .auth__input {
        margin-bottom: 20px;
    }

    .auth__footer {
        font: 400 17px/26px 'Quicksand';
    }
}

@media (max-width: 767.98px) {  }

@media (max-width: 575.98px) { 
    .auth {
        background-size: 450px;
    }

    .auth__logo {
        position: absolute;
        top: 20px;
        left: 15px;
    }

    .auth__logo-icon {
        height: 33px;
    }

    .auth__language {
        top: 18px;
        right: 15px;
    }

    .auth__wrap {
        display: block;
        padding: 110px 20px 20px 20px;
    }

    .auth__form {
        padding: 35px 15px 40px 15px;
        margin-bottom: 35px;
    }

    .auth__title {
        margin-bottom: 15px;
        font: 700 30px/38px 'Quicksand';
    }

    .auth__input {
        margin-bottom: 15px;
    }

    .auth__footer {
        padding: 11px 15px 9px 15px;
        background: rgba(255, 255, 255, 0.75);
        border-radius: 12px;
        font: 500 16px/25px 'Quicksand';
        color: #070337;
        text-align: center;
    }

    .auth__footer a {
        color: #7127EA;
        text-decoration: none;
    }
}



