.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1140px; */
}

.abous-us-companyInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.abous-us-mainContent {
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 30px;
    width: 100%;
}

.mainInfo-container {
    display: flex;
    flex-direction: row;
}

.abous-us-mainContent .abous-us-companyInfo:nth-child(1) {
    margin-bottom: 30px;
}

.abous-us-companyInfo .companyInfo_item:nth-child(4) {
    /* margin-right: 0px; */
}

.companyInfo_item {
    display: flex;
    flex-direction: column;
    white-space: normal;
}

.about-us__companyMessage {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.companyInfo_item__title {
    color: #999999;
    font: 500 13px/20px 'Quicksand';
}

.companyInfo_item__text {
    color: #000;
    font: 500 18px/24px 'Quicksand';
}

.about-us__companyMessage .companyInfo_item__text {
    white-space: normal;
    width: 100%;
}

.companyInfo_item__text a {
    color: #7127EA;
}

@media (max-width: 900.98px) {
    .mainInfo-container {
        flex-direction: column;
        align-items: center;
    }

    .mainInfo-container svg {
        margin-top: 30px;
    }
}

@media (max-width: 800.98px) {
    .abous-us-companyInfo {
        flex-wrap: wrap;
    }

    .companyInfo_item {
        width: 45%;
        margin: 0px 20px 20px 0;
    }
    
    .abous-us-mainContent {
        padding: 40px 30px;
    }
}

@media (max-width: 575.98px) {
    .companyInfo_item {
        width: 100%;
    }
    .abous-us-mainContent {
        border-radius: 0px;
        padding: 35px 15px;
    }
    
    .mainInfo-container svg {
        width: 290px;
        height: 262px;
    }
    
}