/* Textarea */

.textarea {

}

.textarea__wrap {
    border: 2px solid #E1E1E1;
    border-radius: 30px;
    background: #fff;
    position: relative;
}

.textarea__title {
    display: none;
    position: absolute;
    top: 5px;
    left: 35px;
    font: 500 14px/20px 'Quicksand';
    color: #999999;
    background: #fff;
}

.textarea__textarea {
    display: block;
    width: 100%;
    min-height: 180px;
    padding: 16px 35px 14px;
    font: 500 18px/27px 'Quicksand';
    color: #070337;
    border: 0;
    outline: none;
    background: none;
    border-radius: 12px;
    appearance: none;
    resize: none;
}

.textarea__textarea::placeholder {
    font: 500 18px/18px 'Quicksand';
    color: #BBBBBB;
}

.textarea--show-title .textarea__title {
    display: block;
}

.textarea--show-title .textarea__textarea {
    padding: 24px 35px 6px;
}

.textarea--focused .textarea__wrap {
    border-color: #b893f4;
}

.textarea--error .textarea__wrap {
    border-color: #F5533D;
}

.textarea--error .textarea__textarea {
    color:#F5533D;
}

/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) {
    .textarea__textarea {
        padding: 16px 30px 14px;
        font: 500 17px/26px 'Quicksand';
    }

    .textarea--show-title .textarea__textarea {
        padding: 24px 30px 6px;
    }
    
    .textarea__title {
        left: 30px;
    }
}

@media (max-width: 575.98px) {
    .textarea__textarea {
        padding: 16px 25px 14px;
        font: 500 16px/25px 'Quicksand';
    }

    .textarea--show-title .textarea__textarea {
        padding: 24px 25px 6px;
    }
    
    .textarea__title {
        left: 25px;
    }
}