.file-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.file { 
    justify-content: space-between;
    align-items: center;
}

.file-icon {
    width: 36px;
    height: 36px;
    margin-right: 9px;
    border-radius: 6px;
}

.file-icon-img {
    background: url("../../../assets/icon-img.svg") center center no-repeat rgba(255, 255, 255, 0.7);
}
.file-icon-pdf {
    background: url("../../../assets/icon-pdf.svg") center center no-repeat rgba(255, 255, 255, 0.7);
}

.file-name {
    font: 500 16px/23px 'Quicksand';
}

.file-info { 
    font: 500 14px/16px 'Quicksand';
    color: #999999;
}

@media (max-width: 991.98px) {
    .file-wrap {
        margin-bottom: 6px;
    }
}
