/* ManageUsers */

.send-operation-info__title {
    margin-bottom: 25px;
    font: 700 40px/50px 'Quicksand';
    color: #070337;
}

.send-operation-info__recipientsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.send-operation-info__subtitle, .send-operation-info__emails_title {
    font: 500 14px/20px 'Quicksand';
    color: #999999;
    margin-bottom: 10px;
}

.send-operation-info__recipients__clearAll {
    font: 500 14px/20px 'Quicksand';
    color: #EB5757;
    cursor: pointer;
}

.send-operation-info__input,
.send-operation-info__error {
    margin-bottom: 25px;
}

.send-operation-info_emailsContainer {
    display: flex;
    flex-direction: column;
}

.send-operation-info_emails {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}

.send-operation-info__email {
    display: flex;
    gap: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font: 500 18px/23px 'Quicksand';
    color: #000;
    background-color: #fff;
    border: 2px solid #E1E1E1;
    padding: 6px 15px 6px 20px;
    border-radius: 20px;
}

.send-operation-info__dividedLine {
    border: 1px solid #EEEEEE;
    width: 100%;
    margin-bottom: 25px;
}

.send-operation-info__emailClose {
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999999;
    width: 15px;
    height: 15px;
    background: url('../../assets/close.svg') center center no-repeat;
}

.send-operation-info__dropDownList {
    margin-bottom: 30px;
}

.send-operation-info_successContainer svg {
    width: 128px;
    height: 128px;
    margin-bottom: 25px;
}
.send-operation-info_successContainer {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.send-operation-info__successText {
    font: 700 40px/50px 'Quicksand';
}

.send-operation-info__successBtn {
    margin-top: 25px;
    width: 100%;
}

/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) {
    .send-operation-info__successText {
        font: 700 30px/50px 'Quicksand';
    }
    .send-operation-info__title {
        margin-bottom: 20px;
        font: 700 34px/42px 'Quicksand';
    }
    .send-operation-info__input,
    .send-operation-info__error {
        margin-bottom: 20px;
    }
}

@media (max-width: 575.98px) {
    .send-operation-info__title {
        margin-bottom: 15px;
        font: 700 30px/38px 'Quicksand';
    }
    .send-operation-info__input,
    .send-operation-info__error {
        margin-bottom: 15px;
    }
}


