/* Settings */

.settings {
    
}

.settings__title {
    margin-bottom: 40px;
    font: 700 40px/50px 'Quicksand';
    color: #070337;
}

.settings_nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 50px;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 40px;
    overflow-x: auto;
}

.settings_nav::-webkit-scrollbar {
    width: 0px;
}

.settings_nav a {
    font: 500 18px/26px 'Quicksand';
    text-decoration: none;
    padding-bottom: 5px;
    color: #000;
    white-space: nowrap;
}

.settings_nav .active {
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 2px solid #7127EA;
}

.settings__wrap {
    padding: 50px 40px;
    margin-bottom: 45px;
    background: #FFFFFF;
    border-radius: 30px;
}

.settings__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.settings__col {
    width: calc(50% - 15px);
}

.settings__row:last-child {
    margin-bottom: 0;
}

.settings__funds-title {
    margin-bottom: 10px;
    font: 500 14px/20px 'Quicksand';
    color: #999999;
}

.settings__funds {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 25px;
}

.settings__funds > div {
    flex: 0 0 48%;
}

.settings__suggest {
    display: inline-block;
    padding: 6px 20px 6px 47px;
    border: 2px solid #7127EA;
    border-radius: 30px;
    background: url('../../assets/suggest.svg') left 20px center no-repeat;
    font: 600 16px/26px 'Quicksand';
    color: #7127EA;
    cursor: pointer;
}

.settings__button {
    display: flex;
}

.settings__success {
    margin-bottom: 20px;
    color: green;
}

.input--error {
    margin-bottom: 5px;
}

/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) {
    .settings__title {
        margin-bottom: 35px;
        font: 700 34px/42px 'Quicksand';
    }

    .settings__wrap {
        padding: 40px 30px;
        margin-bottom: 30px;
    }

    .settings__row {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .settings__col {
        width: 100%;
        margin-bottom: 20px;
    }

    .settings__row:last-child {
        flex-direction: column-reverse;
    }

    .settings__row:last-child .settings__col:first-child {
        margin-bottom: 0;
    }
    
}

@media (max-width: 575.98px) {

    .settings_nav {
        padding: 0px 15px;
    }

    .settings__title {
        margin-left: 15px;
        font: 700 30px/38px 'Quicksand';
    }

    .settings__wrap {
        padding: 35px 15px;
        margin: 0 -15px 30px -15px;
        border-radius: 0;
    }

    .settings__col {
        margin-bottom: 10px;
    }

    .settings__funds > div {
        flex: 0 0 100%;
    }
    .settings .wrapper {
        padding: 50px 0px;;
    }
}