.permissions-mainContainer {
    display: flex;
    flex-direction: column;
}

.permissions-mainContent {
    display: flex;
    flex-direction: row;
}

.permissions-container {
    width: 50%;
}

.permissions-mainContent {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 50px 40px;
    margin-bottom: 35px;
    border-radius: 30px;
    justify-content: space-between;
}

.permissions-btnContainer__saveChanges {
    width: 220px;
}

.permissions_item {
    margin-bottom: 15px;
}

.permissions_item .checkbox__text {
    font-weight: 500;
}

.permissions__title {
    font: 500 14px/20px 'Quicksand';
    color: #999999;
}

@media (max-width: 800.98px) {
    .permissions-mainContent {
        padding: 40px 30px;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 575.98px) {
    .permissions-container {
        width: 100%;
    }

    .permissions-mainContent {
        padding: 35px 15px;
        flex-direction: column;
        gap: 30px;
        border-radius: 0px;
    }

    .permissions-btnContainer {
        display: flex;
        justify-content: center;
    }

    .permissions_item {
        width: 100%;
    }
    .permissions_item .checkbox__text {
        /* width: 100%; */
    }
}