/* ManageFund */

.manage-fund__title {
    margin-bottom: 25px;
    font: 700 40px/50px 'Quicksand';
    color: #070337;
}

.manage-fund__radio {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.manage-fund__groupInput {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.manage-fund__input,
.manage-fund__radio,
.manage-fund__error {
    margin-bottom: 25px;
}

.manage-fund__input--country {
    min-width: 165px;
    max-width: 165px;
}

.manage-fund__input--address {
    flex-grow: 1;
}

.manage-fund__btn {
    margin-bottom: 25px;
}
/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) {
    .manage-fund__title {
        margin-bottom: 20px;
        font: 700 34px/42px 'Quicksand';
    }

    .manage-fund__input,
    .manage-fund__radio, 
    .manage-fund__error {
        margin-bottom: 20px;
    }

    .manage-fund__groupInput {
        gap: 20px;
    }
}

@media (max-width: 575.98px) {
    .manage-fund__title {
        margin-bottom: 15px;
        font: 700 30px/38px 'Quicksand';
    }

    .manage-fund__input,
    .manage-fund__radio, 
    .manage-fund__error {
        margin-bottom: 15px;
    }

    .manage-fund__groupInput {
        flex-direction: column;
        gap: 0;
    }

    .manage-fund__input--country {
        min-width: 100%;
    }
}
