.statistics__status {
    line-height: 20px;
    white-space: nowrap;
    font-size: 14px;
}

.statistic_email {
    line-height: 20px;
    white-space: nowrap;
    font-size: 14px;
}

.statistic_email span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: #219653;
    border-radius: 20px;
    border: 6px solid #d3eadd;
    vertical-align: middle;
}

.statistics__status span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 20px;
    vertical-align: middle;
    background: #219653;
    border: 6px solid #d3eadd;
}

.statistics__status--success,
.statistics__status--processed,
.statistic_emailSent {
    color: #219653;
}

.statistics__status--process,
.statistics__status--processing {
    color: #FCAD38;
}

.statistics__status--fail,
.statistics__status--not_paid,
.statistic_emailNotSent {
    color: #E53935;
}

.statistics__status--process span,
.statistics__status--processing span {
    background: #FCAD38;
    border-color: #feefd8;
}

.statistics__status--fail span,
.statistics__status--not_paid span,
.statistic_emailNotSent span {
    background: #E53935;
    border-color: #f9d7d7;
}

.statistic_item {
    display: flex;
    justify-content: space-between;
}

.w100 {
    width: 100%;
}
.statistics__table-mobile__row {
    display: flex;
    flex-wrap: wrap;    
    margin-bottom: 20px;
}

.statistics__table-mobile__col {
    display: block;    
    margin: 0 10px;
}
.statistics__table-mobile__col_5 {
    width: calc(20% - 20px);    
}

.statistics__table-mobile__col_4 {
    width: calc(25% - 20px);
}

.statistics__table-mobile__col_3 {
    width: calc(33% - 20px);
}

.statistics__table-mobile__col_2 {
    width: calc(50% - 20px);
}
.statistics__table-mobile__title {    
    font: 500 14px/24px 'Quicksand';
    color: #999999;
}

.statistics__table-mobile__value {
    width: calc(90% - 10px);
    font: 500 18px/24px 'Quicksand';
    color: #070337;
}

.statistic_files-wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.m-10 {
    margin: 0 10px;
}
/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) { }

@media (max-width: 767.98px) {}

@media (max-width: 642px) {
    .statistic_files-wrap {
        flex-direction: column;
    }
}
