.uploadFileList__wrap {
    display: flex;
    flex-direction: column;
}

.uploadFileList__item {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.uploadFile-icon {
    width: 42px;
    height: 42px;
    margin-right: 12px;
    border-radius: 6px;
}

.uploadFileList__item-file-wrap, .uploadFileList__select-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uploadFile-icon-img {
    background: url("../../../assets/icon-img.svg") center center no-repeat rgba(255, 255, 255, 0.7);
}
.uploadFile-icon-pdf {
    background: url("../../../assets/icon-pdf.svg") center center no-repeat rgba(255, 255, 255, 0.7);
}

.uploadFileList__item-file-name {
    font: 500 18px/23px 'Quicksand';
}

.uploadFileList__item-file-size {
    font: 500 14px/16px 'Quicksand';
    color: #999999;
}

.uploadFileList__select { 
    height: 35px;
    width: 220px;    
    align-items: center;
    padding: 0;
    font: 500 14px/18px 'Quicksand';
    flex-wrap: nowrap;
    margin-right: 5px;
}

.uploadFileList__btn-delete {
    width: 20px;
    height: 20px;
    border:none;
    background: url("../../../assets/dropmenu-delete.svg") center center no-repeat rgba(255, 255, 255, 0.7);
    cursor: pointer;
}