/* CalendarMobile */

.calendar-mobile__weeks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-mobile__week {
    flex: 0 0 13%;
    width: 13%;
    font: 500 15px/22px "Quicksand";
    color: rgba(7, 3, 55, 0.5);
    text-transform: capitalize;
}

.calendar-mobile__days {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.calendar-mobile__day__wrap {
    width: calc(14% - 10px);
    height: 75px;
    background: #ffffff;
    border-radius: 6px;
    overflow: hidden;
}

.calendar-mobile__day__wrap--past {
    opacity: 0.5;
}
.calendar-mobile__day__wrap--hidden {
    visibility: hidden;
}

.calendar-mobile__day__wrap--selected {
    background: #dbccf3;
}

.calendar-mobile__day__wrap--selected .calendar-mobile__day-date {
    color: #070337;
}

.calendar-mobile__day {
    margin-top: -10px;
    padding: 5px;
}

.calendar-mobile__day__status {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    margin-top: -4px;
    margin-right: -4px;
}

.calendar-mobile__day__status--red {
    background: rgba(254, 243, 243, 1);
}
.calendar-mobile__day__status--green {
    background: rgba(239, 247, 243, 1);
}
.calendar-mobile__day__status--yellow {
    background: rgba(255, 249, 239, 1);
}

.calendar-mobile__day__status-icon {
    height: 12px;
    width: 12px;
}
.calendar-mobile__day__status-icon--red {
    background: url('../../../assets/busy-red.svg') left center no-repeat;
}
.calendar-mobile__day__status-icon--green {
    background: url('../../../assets/busy-green.svg') left center no-repeat;
}
.calendar-mobile__day__status-icon--yellow {
    background: url('../../../assets/busy-yellow.svg') left center no-repeat;
}

.calendar-mobile__day-date {
    margin-bottom: 2px;
    font: 700 18px/22px "Quicksand";
    color: rgba(7, 3, 55, 0.5);
    text-align: center;
    user-select: none;
}

.calendar-mobile__events {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calendar-mobile__dot {
    width: 8px;
    height: 8px;
    background: #7127ea;
    border-radius: 8px;
    margin-top: 2px;
}
.calendar-mobile__events-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #7127ea;
    color: white;
    border-radius: 50%;
    font: 700 13px/16px "Quicksand";
}
.calendar-mobile__subtitle {
    margin-bottom: 15px;
    font: 700 20px/25px "Quicksand";
    color: #070337;
}

.calendar-mobile__times-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.calendar-mobile__time {
    width: calc(50% - 15px);
    padding: 20px 60px 20px 20px;
    background: #ffffff;
    border-radius: 12px;
    font: 500 16px/24px "Quicksand";
    color: #070337;
    position: relative;
}

.calendar-mobile__time-menu {
    width: 24px;
    height: 24px;
    background: url("../../../assets/more-dots.svg") center center no-repeat;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

.calendar-mobile__time .dropmenu {
    top: 50px;
}

.currentDay {
    box-shadow: 0px 0px 0px 3px rgba(113, 39, 234, 0.2);
}

/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
    .calendar-mobile__day__wrap {
        height: 60px;
    }

    .calendar-mobile__day {
        margin-top: -8px;
    }

    .calendar-mobile__day__status {
        width: 24px;
        height: 24px;
        margin-top: -3px;
        margin-right: -3px;
    }

    .calendar-mobile__day-date {
        font: 500 15px/19px "Quicksand";
    }

    .calendar-mobile__events {
        gap: 3px;
    }
    .calendar-mobile__events-counter {
        width: 16px;
        height: 16px;
        font: 700 11px/14px "Quicksand";
    }
    .calendar-mobile__dot {
        width: 6px;
        height: 6px;
        border-radius: 6px;
    }

    .calendar-mobile__subtitle {
        font: 700 17px/21px "Quicksand";
    }

    .calendar-mobile__time {
        width: 100%;
    }
}
