/* Head */

.head {
    padding: 0 20px;
    height: 80px;
    background: #7127ea;
    position: sticky;
    top: 0;
    z-index: 8;
}

.head__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;
}

.head__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    background: rgba(7, 3, 55, 0.6);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.head__menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    min-height: 100%;
    background: #7127ea;
    border-radius: 0px 30px 30px 0px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.head__menu-mobile-close {
    width: 18px;
    height: 18px;
    background: url("../../../assets/close-mobile-menu.svg") center center
        no-repeat;
    position: absolute;
    top: 24px;
    right: 24px;
}

.head__menu-mobile-logo {
    padding: 18px 0 15px 0;
    margin-left: -12px;
    border-top-right-radius: 30px;
    background: #8d52ee;
}

.head__menu-mobile-logo svg {
    display: block;
    height: 28px;
}

.head__menu-mobile-menu {
    flex-grow: 1;
    padding: 30px;
}

.head__menu-mobile-menu a {
    display: block;
    margin-bottom: 20px;
    font: 500 16px/24px "Quicksand";
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.head__menu-mobile-menu a:last-child {
    margin-bottom: 0;
}

.head__menu-mobile-menu .active {
    color: #ffffff;
}

.head__menu-mobile-logout {
    margin: auto 30px 30px 30px;
    padding-left: 31px;
    background: url("../../../assets/logout.svg") left center no-repeat;
    font: 500 16px/24px "Quicksand";
    color: #ffffff;
    user-select: none;
    cursor: pointer;
}

.head__menu-mobile-button {
    display: none;
    width: 33px;
    height: 21px;
    background: url("../../../assets/menu.svg") center center no-repeat;
    cursor: pointer;
}

.head__logo {
    margin-top: 8px;
}

.head__menu {
    display: flex;
}

.head__menu a {
    margin: 0 15px;
    font: 500 15px/77px "Quicksand";
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.head__menu a:hover {
    color: #fff;
}

.head__menu a.active {
    font-weight: 600;
    color: #ffffff;
    border-color: #ffffff;
}

.head__logout-link {
    padding-left: 31px;
    background: url("../../../assets/logout.svg") left center no-repeat;
    font: 500 16px/24px "Quicksand";
    color: #ffffff;
    user-select: none;
    cursor: pointer;
}

/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
    .head__logo svg {
        width: auto;
        height: 32px;
    }

    .head__logout-link {
        font-size: 0;
    }
}

@media (max-width: 767.98px) {
    .head {
        height: 70px;
    }

    .head__wrap {
        height: 70px;
    }

    .head__menu a {
        margin: 0 8px;
        font: 500 15px/67px "Quicksand";
    }
}

@media (max-width: 575.98px) {
    .head {
        height: 60px;
    }

    .head__wrap {
        height: 60px;
    }

    .head__menu,
    .head__logout {
        display: none;
    }

    .head__menu-mobile-button {
        display: block;
    }

    .head__logo {
        margin-left: 35px;
    }
}
