/*DropMenu*/

.dropmenu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-shadow: 0px 10px 30px rgba(17, 17, 17, 0.1);
    border-radius: 12px;
}

.dropmenu__item {
    padding: 9px 20px;
    border-bottom: 1px solid #F1F1F1;
    font: 500 16px/27px 'Quicksand';
    color: #000000;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

.dropmenu__item:last-child {
    border-bottom: 0;
}

.dropmenu__item--icon svg {
    margin-right: 6px;
    position: relative;
    top: 2px;
}