.funds_mainContainer__title {
    font: 700 22px/28px 'Quicksand';

}

.funds_mainContainer {
    width: 100%;
    padding: 50px 40px;
    background: #fff;
    border-radius: 30px;
    margin-bottom: 35px;
}

.funds_main-content {
    display: flex;
    flex-wrap: wrap;
}

.funds_main-content .checkbox {
    flex: 27%;
    margin: 0px 15px 23px 0px;
}

.funds_btns-container {
    display: flex;
    flex-direction: row;
}

.funds__suggest {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 20px 6px 47px;
    border: 2px solid #7127EA;
    border-radius: 30px;
    background: url('../../../../assets/suggest.svg') left 20px center no-repeat;
    font: 600 16px/26px 'Quicksand';
    color: #7127EA;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width: 1140.98px) {
    .funds_main-content .checkbox{
        flex: 40%;
    }
}

@media (max-width: 800.98px) {
    .funds_mainContainer{
        padding: 40px 30px;
    }
}

@media (max-width: 760.98px) {
    .funds_mainContainer{
        padding: 35px 0px 35px 15px;
    }
    .funds_main-content .checkbox{
        flex: 90%;
    }

    .checkbox .checkbox__text {
        font-size: 15px;
    }
}

@media (max-width: 575.98px) {
    .funds_mainContainer{
        border-radius: 0px;
        margin-bottom: 30px;
    }
    .funds_btns-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .funds_btns-container > div:first-child {
        width: 235px;
        height: 52px;
    }
}