/* SuggestOrganization */

.suggest-organization {

}

.suggest-organization__title {
    margin-bottom: 25px;
    font: 700 40px/50px 'Quicksand';
    color: #070337;
}

.suggest-organization__desc {
    margin-bottom: 25px;
}

.suggest-organization__input.input--error {
    margin-bottom: 5px;
}

.suggest-organization__input,
.suggest-organization__error {
    margin-bottom: 25px;
}

.suggest-organization__success {
    text-align: center;
}

.suggest-organization__success .suggest-organization__title {
    margin-bottom: 25px;
}


/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) {
    .suggest-organization__title {
        margin-bottom: 20px;
        font: 700 34px/42px 'Quicksand';
    }

    .suggest-organization__input, 
    .suggest-organization__error {
        margin-bottom: 20px;
    }

    .suggest-organization__success svg {
        width: 128px;
        height: 128px;
    }
}

@media (max-width: 575.98px) {
    .suggest-organization__title {
        margin-bottom: 15px;
        font: 700 30px/38px 'Quicksand';
    }

    .suggest-organization__input, 
    .suggest-organization__error {
        margin-bottom: 15px;
    }

    .suggest-organization__success svg {
        width: 96px;
        height: 96px;
    }
}

