/* Users */

.users {
    
}

.users__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.users__title-text {
    font: 700 40px/50px 'Quicksand';
    color: #070337;
}

.button.users__add-button-mobile  {
    padding: 12px 13px;
}

.button.users__add-button-mobile svg {
    margin-right: 0;
}

.users__table {
    padding: 20px 40px;
    background: #FFFFFF;
    border-radius: 30px;
}

.users__table table {
    width: 100%;
    border-collapse: collapse;
}

.users__table table tr th {
    padding: 5px 10px 25px 0;
    font: 500 16px/24px 'Quicksand';
    color: #07033780;
    text-align: left;
}

.users__table table tr td {
    padding: 30px 5px 30px 0;
    border-top: 1px solid #EBEBEB;
    font: 500 18px/24px 'Quicksand';
    color: #070337;
}

.users__table table tr td.users__id {
    color: #07033780;
}

.users__buttons {
    display: flex;
}

.users__edit {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    background: url('../../assets/edit.svg') center center no-repeat rgba(113, 39, 234, 0.1);
    border-radius: 32px;
    cursor: pointer;
}

.users__delete {
    width: 32px;
    height: 32px;
    margin-right: 6px;
    background: url('../../assets/delete.svg') center center no-repeat rgba(229, 57, 53, 0.1);
    border-radius: 32px;
    cursor: pointer;
}


/*
 * Responsive
 * https://getbootstrap.com/docs/5.1/layout/breakpoints/#max-width
*/
@media (max-width: 1399.98px) {  }

@media (max-width: 1199.98px) {  }

@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) {
    .users__title {
        margin-bottom: 35px;
    }

    .users__title-text {
        font: 700 34px/42px 'Quicksand';
    }
}

@media (max-width: 575.98px) {
    .users__title {
        margin-bottom: 30px;
    }

    .users__title-text {
        font: 700 30px/38px 'Quicksand';
    }
}